header{
    width: 100vw;
    margin: 2.5rem 0;
    position: sticky;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:3.5rem;
}

nav li a:hover{
    color: var(--secondary);
}